[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".vim/pack/brpol/start/vim-easymotion"]
	path = .vim/pack/brpol/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
