[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".vim/pack/brpol/start/vim-easymotion"]
	path = .vim/pack/brpol/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/pack/brpol/start/nerdtree"]
	path = .vim/pack/brpol/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/brpol/start/ctrlp.vim"]
	path = .vim/pack/brpol/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/pack/brpol/start/vim-airline"]
	path = .vim/pack/brpol/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/brpol/start/vim-surround"]
	path = .vim/pack/brpol/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/brpol/start/vim-matchit"]
	path = .vim/pack/brpol/start/vim-matchit
	url = https://github.com/adelarsq/vim-matchit.git
[submodule ".vim/pack/brpol/opt/coc.nvim"]
	path = .vim/pack/brpol/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/pack/brpol/start/nerdcommenter"]
	path = .vim/pack/brpol/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "zsh-plugins/zsh-completions"]
	path = zsh-plugins/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh-plugins/zfs-completion"]
	path = zsh-plugins/zfs-completion
	url = https://github.com/luoxu34/zfs-completion.git
[submodule "zsh-plugins/zsh-you-should-use"]
	path = zsh-plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "zsh-plugins/enhancd"]
	path = zsh-plugins/enhancd
	url = https://github.com/b4b4r07/enhancd.git
[submodule "zsh-plugins/zsh-history-substring-search"]
	path = zsh-plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
