[Unit]
Description=Displays a wall notification when triggered.
Requires=WorkStartNotifier.service

[Timer]
Unit=WorkStartNotifier.service
OnCalendar=Monday-Friday *-*-* 09:00 Asia/Tokyo

[Install]
WantedBy=timers.target
