[include]
  path = .gitconfig.local

[user]
  email = brandonpollack23@gmail.com
  name = Brandon Pollack

[core]
	editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false

[pull]
  rebase = true

[submodule]
  recurse = true

[color]
  ui = auto

[review "URL"]
  uploadtopic = true
  autoupload = true

[merge]
  tool = nvimdiffview

[mergetool "nvimdiffview"]
  cmd = nvim -c 'DiffviewOpen'
  trustExitCode = true

; [difftool "branchless"]
;   cmd = git-branchless difftool --read-only --dir-diff $LOCAL $REMOTE

[diff]
  colorMoved = default
  algorithm = histogram

[fetch]
  prune = false

; lfs
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

; local stuff
[includeIf "gitdir:~/.gitconfig.local"]
[init]
	defaultBranch = master
[branchless "test"]
	jobs = 0
[safe]
	directory = /home/brpol/src/learn_nix/mnt/vm_nixos/home/brpol/nixos
