# Written by `mise run plugins-lock`: the plugins in plugins.lock.
/brandonpollack23.beautiful-workspace-bar/
/brpol.nous-agent/
/costafot.markets/
/evindor.keystroke/
/io.github.asmyshlyaev177.last-session/
/io.github.elevate08.qs-bitwarden-cli/
/io.github.orienw.fresh-wallpaper/
/omaconnect/
/ronald.input-sources/

