# Written by `mise run plugins-lock`: the plugins in plugins.lock.
/bobbynicholas.omaland/
/brandonpollack23.beautiful-workspace-bar/
/brpol.nous-agent/
/com.omastorm.radar/
/costafot.markets/
/evindor.keystroke/
/io.github.asmyshlyaev177.last-session/
/io.github.elevate08.qs-bitwarden-cli/
/io.github.guiestrela.weather/
/io.github.orienw.fresh-wallpaper/
/meviusisback.hw-monitor/
/omaconnect/
/ronald.input-sources/

